{% extends "base-centered.html" %}

{% block content %}
<form action="{% url 'login' %}" method="POST">
  {% csrf_token %}
  <div class="mb-4">
    <label for="{{ form.username.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
      {{ form.username.label }}
    </label>
    {{ form.username }}
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.password.id_for_label }}">
      {{ form.password.label }}
    </label>
    {{ form.password }}
  </div>
  <div class="flex items-center justify-between">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="submit">
      Connexion
    </button>
    <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
      Mot de passe perdu ?
    </a>
  </div>
</form>
{% endblock %}