{% extends "base.html" %}

{% block navbar-container %}{% endblock %}

{% block content-container %}
<div id="dashboard__container">
  <div id="dashboard__sidebar">
    {% block sidebar %}
    <nav>
      <div class="text-center mb-8">
        <a class="text-white no-underline hover:no-underline font-bold text-xl lg:text-2xl"
          href="{% url 'dashboard' request.session.organisation_id %}">
          <svg class="h-6 fill-current inline text-indigo-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path
              d="M6 4H5a1 1 0 1 1 0-2h11V1a1 1 0 0 0-1-1H4a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V5a1 1 0 0 0-1-1h-7v8l-2-2-2 2V4z" />
          </svg>
          Registres
        </a>
      </div>
      <ul>
        <li><a href="{% url 'controller-register' request.session.controller_register_id %}"
            class="sidebar__item {% if view.menu == 'controller' %}sidebar__item--active{% endif %}">Traitements</a>
        </li>
        <li><a href="" class="sidebar__item cursor-not-allowed">Demandes</a></li>
        <li><a href="" class="sidebar__item cursor-not-allowed">Incidents</a></li>
        <li><a href="" class="sidebar__item cursor-not-allowed">Sous-traitance</a></li>
      </ul>
      <ul>

        <li><a href="" class="sidebar__item cursor-not-allowed">Clients</a></li>
        <li><a href="" class="sidebar__item cursor-not-allowed">Collaborateurs</a></li>
      </ul>
      <ul>
        <li><a href="" class="sidebar__item cursor-not-allowed">Mon profil</a></li>
      </ul>
      <ul>
        <li><a href="" class="sidebar__item cursor-not-allowed">Documentation</a></li>
        <li><a href="" class="sidebar__item cursor-not-allowed">Aide</a></li>
      </ul>
    </nav>
    {% endblock %}
  </div>
  <nav id="dashboard__navbar">
    <div id="dashboard__search">
      <input type="search" placeholder="Recherche">
    </div>
    <div>
      <img class="h-8 w-8 rounded-full inline" src="{% static 'images/anybox.png' %}">
      <img class="h-8 w-8 rounded-full inline"
        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
    </div>
  </nav>
  <section id="dashboard__main">
    {% block content-header %}
    {% if view.title %}
    <header class="mb-4 flex items-baseline">
      <div class="flex-grow">
        <h1>{{ view.title }}</h1>
        {% if view.subtitle %}<p>{{ view.subtitle }}</p>{% endif %}
        {% block content-meta %}{% endblock %}
      </div>
      {% block actions-container %}
      <div class="">
        {% block actions %}{% endblock %}
      </div>
      {% endblock %}
    </header>
    {% endif %}
    {% endblock content-header %}
    {% block content %}{% endblock %}
  </section>
</div>
{% endblock %}