<!doctype html>

<html lang="fr">

<head>
  <title>{{ title|default:'Registres.app' }}</title>
  <meta name="apple-mobile-web-app-title" content="Registres">
  <meta name="application-name" content="Registres">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-config" content="{% static 'favicons/browserconfig.xml' %}">
  <meta name="theme-color" content="#4c51bf">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#4c51bf">
  <link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <script src="{% static 'js/htmx.min.1.8.2.js' %}" defer></script>
</head>

{% block body-container %}

<body class="{% block body-extra-classes %}{% endblock %}">

  {% block navbar-container %}
  <nav class="{% block navbar-extra-classes %}{% endblock %} w-full z-30 top-0 text-white">
    {% block navbar %}
    <div
      class="w-full container {% block navbar-container-extra-classes %}{% endblock %} flex flex-wrap items-center justify-between mt-0 py-2">
      <div class="pl-4 flex items-center">
        <a class="text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="{% url 'home' %}">
          <svg class="h-6 fill-current inline text-indigo-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path
              d="M6 4H5a1 1 0 1 1 0-2h11V1a1 1 0 0 0-1-1H4a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V5a1 1 0 0 0-1-1h-7v8l-2-2-2 2V4z" />
          </svg>
          Registres
        </a>
      </div>
      <div class="block lg:hidden pr-4">
        <button id="nav-toggle" class="flex items-center p-1 text-orange-800 hover:text-gray-900">
          <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>

      <div
        class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-white p-4 lg:p-0 z-20"
        id="nav-content">
        {% block menu %}
        <ul class="list-reset lg:flex justify-end flex-1 items-center">
          <li class="mr-3">
            <a class="inline-block py-2 px-4 text-white font-bold no-underline" href="#">Accueil</a>
          </li>
          <li class="mr-3">
            <a class="inline-block text-white no-underline hover:text-indigo-100 hover:text-underline py-2 px-4"
              href="#">Fonctionnalités</a>
          </li>
          <li class="mr-3">
            <a class="inline-block text-white no-underline hover:text-indigo-100 hover:text-underline py-2 px-4"
              href="#">Tarifs</a>
          </li>
        </ul>

        {% if user.is_authenticated %}
        <a href="{% url 'dashboard-redirect' %}" class="btn btn--dashboard">Tableau de bord</a>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn--login">Connexion</a>
        {% endif %}
        {% endblock menu %}
      </div>

    </div>
    <hr class="border-b border-indigo-100 opacity-25 my-0 py-0" />
    {% endblock navbar %}
  </nav>
  {% endblock navbar-container %}

  {% block hero %}{% endblock %}

  {% block content-container %}
  <section class="bg-white border-b py-8">
    {% block content %}{% endblock %}
  </section>
  {% endblock %}
</body>
{% endblock body-container %}

{% block javascript %}
{% endblock %}

</html>