{% extends "base.html" %}

{% block navbar-container %}{% endblock %}

{% block body-extra-classes %}bg-indigo-100 min-h-screen{% endblock %}

{% block content-container %}
<div class="container mx-auto h-full flex justify-center items-center">
  <section class="w-1/3 md:w-1/2 sm:w-full bg-white shadow-md rounded px-8 pt-6 pb-8">
    <header class="text-center mb-8">
      <a class="text-gray-700 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="{% url 'home' %}">
        <svg class="h-8 fill-current inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path
            d="M6 4H5a1 1 0 1 1 0-2h11V1a1 1 0 0 0-1-1H4a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V5a1 1 0 0 0-1-1h-7v8l-2-2-2 2V4z" />
        </svg>
      </a>
      <h1>Connexion à registres.app</h1>
    </header>
    {% block content %}{% endblock %}
  </section>
</div>
{% endblock %}