{% extends "base-dashboard.html" %}

{% block content %}
<form method="POST" class="form">
  {{ form.as_p }}
  {% csrf_token %}
  <div class="actions">
    <button type="submit" class="btn btn--primary">Envoyer</button>
  </div>
</form>

{% endblock %}