{% extends "base-dashboard.html" %}

{% block actions %}
<a href="" class="btn">Exporter</a>
<a href="{{ register.get_edit_url }}" class="btn">Modifier</a>
<a href="{% url 'processing-create' register.pk %}" class="btn btn--primary">+ Ajouter</a>
{% endblock %}

{% block content-meta %}
DPO : {{ register.dpo }} /
Représentant : {{ register.representative }} /
Créé le : {{ register.created_at }} /
Mis à jour le : {{ register.updated_at }}
{% endblock %}

{% block content %}
<table class="table table--dashboard mb-2">
  <thead>
    <tr>
      <th>Traitement</th>
      <th>Responsable</th>
      <th>Concernés</th>
      <th>Données</th>
      <th>MàJ</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for processing in processings.all %}
    <tr>
      <td>
        <a href="{{ processing.get_absolute_url }}" class="underline">{{ processing }}</a>
        <p class="text-gray-600">{{ processing.goals }}</p>
      </td>
      <td>{{ processing.in_charge }}</td>
      <td>
        {% for processingpeople in processing.processingpeople_set.all %}
        {{ processingpeople.people }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </td>
      <td>
        {% for processingdata in processing.processingdata_set.all %}
        {{ processingdata.data }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </td>
      <td>{{ processing.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4" class="text-center italic">Aucun traitement</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}