{% extends "base-dashboard.html" %}

{% block content %}

<div class="level">
  <p>
    <span>{{ organisation.controller_register.processings.count }}</span>
    traitements
  </p>
  <p>
    <span>{{ organisation.processor_register.processings.count }}</span>
    sous-traitements
  </p>
  <p>
    <span>{{ organisation.breach_register.breaches.count }}</span>
    incidents
  </p>
  <p>
    <span>{{ organisation.request_register.processings.count|default:"0" }}</span>
    demandes
  </p>
  <p>
    <span>{{ organisation.members.count }}</span>
    collaborateurs
  </p>
</div>
<div class="flex">
  <div class="flex-1">
    <h2>Traitements</h2>
    <ul>
      {% for processing in organisation.controller_register.processings.all %}
      <li>{{ processing }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="flex-1">
    <h2>Demandes</h2>
    <ul>
      {% for processing in organisation.controller_register.processings.all %}
      <li>{{ processing }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}