{% extends "base-dashboard.html" %}

{% block actions %}
<a href="{{ processing.register.get_absolute_url }}" class="btn">Retour</a>
<a href="{{ processing.get_edit_url }}" class="btn btn--primary">Modifier</a>
{% endblock %}

{% block content-meta %}
Responsable : {{ processing.in_charge }} /
Créé le : {{ processing.created_at }} /
Mis à jour le : {{ processing.updated_at }}
{% endblock %}

{% block content %}

<h2>Objectifs du traitement</h2>
{{ processing.goals|linebreaks }}

<h2>Personnes concernées</h2>
<ul>
  {% for processingpeople in processing.processingpeople_set.all %}
  <li>{{ processingpeople.people }} : {{ processingpeople.details }}</li>
  {% endfor %}
</ul>

<h2>Données</h2>
<ul>
  {% for processingdata in processing.processingdata_set.all %}
  <li>{{ processingdata.data }} : {{ processingdata.details }} ({{ processingdata.ttl }})</li>
  {% endfor %}
</ul>

<h2>Mesures de sécurité</h2>
<ul>
  {% for processingsecurity in processing.processingsecurity_set.all %}
  <li>{{ processingsecurity.security }} : {{ processingsecurity.details }}</li>
  {% endfor %}
</ul>

<h2>Destinataires</h2>
<ul>
  {% for processingrecipient in processing.processingrecipient_set.all %}
  <li>{{ processingrecipient.recipient }} : {{ processingrecipient.details }}</li>
  {% endfor %}
</ul>

{% endblock %}