{% extends "base-dashboard.html" %}

{% block content %}
<form method="POST" class="form">{% csrf_token %}
  <section>
    <header>
      <h2>Traitement</h2>
      <p>{% lorem 15 w %}</p>
    </header>
    <fieldset>
      {{ form.as_p }}
    </fieldset>
  </section>
  <section>
    <header>
      <h2>Personnes concernées</h2>
      <p>{% lorem 15 w %}</p>
    </header>
    <fieldset>
      <ul>
        {{ people_formset.management_form }}
        {% for people_form in people_formset %}<li>{{ people_form.as_p }}</li>{% endfor %}
      </ul>
    </fieldset>
  </section>
  <section>
    <header>
      <h2>Données</h2>
      <p>{% lorem 15 w %}</p>
    </header>
    <fieldset>
      <ul>
        {{ data_formset.management_form }}
        {% for data_form in data_formset %}<li>{{ data_form.as_p }}</li>{% endfor %}
      </ul>
    </fieldset>
  </section>
  <section>
    <header>
      <h2>Mesures de sécurité</h2>
      <p>{% lorem 15 w %}</p>
    </header>
    <fieldset>
      <ul>
        {{ security_formset.management_form }}
        {% for security_form in security_formset %}<li>{{ security_form.as_p }}</li>{% endfor %}
      </ul>
    </fieldset>
  </section>
  <section>
    <header>
      <h2>Destinataires</h2>
      <p>{% lorem 15 w %}</p>
    </header>
    <fieldset>
      <ul>
        {{ recipient_formset.management_form }}
        {% for recipient_form in recipient_formset %}<li>{{ recipient_form.as_p }}</li>{% endfor %}
      </ul>
    </fieldset>
  </section>
  <div class="actions">
    <button type="submit" class="btn btn--primary">Envoyer</button>
  </div>
</form>
{% endblock %}