@tailwind base;
@tailwind components;

body {
    @apply leading-normal tracking-normal;
    @apply text-gray-700;
}

head {
    align: center;

}

.body--gradient {
    background: rgb(76, 81, 191);
    background: linear-gradient(90deg,
            rgba(76, 81, 191, 1) 0%,
            rgba(127, 156, 245, 1) 100%);
}

#dashboard__container {
    display: grid;
    grid-template-columns: 15em auto;
    grid-template-rows: 4em 1fr;
    gap: 0px 0px;
    grid-template-areas: "sidebar navbar""sidebar main";
}

#dashboard__sidebar {
    grid-area: sidebar;
    @apply bg-indigo-700 p-4;
    @apply h-full min-h-screen;

    ul {
        @apply mb-4;
    }
}

#dashboard__navbar {
    grid-area: navbar;
    @apply flex justify-between items-center;
    @apply border-gray-300 border-b-2;
    @apply py-2 px-6;
}

#dashboard__main {
    grid-area: main;
    @apply bg-gray-100 p-6;
}

.icon--search {
    transform: rotate(-45deg);
}

h1 {
    @apply text-3xl font-semibold;

}

h2 {
    @apply text-xl font-semibold;
    @apply mb-2;
}

h3 {
    @apply text-xl font-medium;
}

.sidebar__item {
    @apply text-indigo-200 block rounded-sm py-2 px-4;

    &--active {
        @apply bg-indigo-800 text-white;
    }

    &:hover {
        @apply bg-indigo-500 text-white;
    }
}

.table {
    @apply min-w-full bg-white;
}

.table--dashboard {
    th {
        @apply px-6 py-3;
        @apply border-b border-gray-200;
        @apply bg-gray-100 text-gray-600;
        @apply text-left text-xs leading-4 font-medium uppercase tracking-wider;
    }

    td {
        @apply px-6 py-4;
        @apply border-b border-gray-200;
        /* @apply whitespace-no-wrap; */
    }
}


.btn {
    @apply bg-white text-gray-700 font-bold py-2 px-4 rounded;

    &:hover {
        @apply bg-indigo-100;
    }

    &--primary {
        @apply bg-indigo-700 text-white;

        &:hover {
            @apply bg-indigo-600;
        }
    }

    &--login,
    &--dashboard {
        @apply text-white text-sm leading-none;
        @apply border border-white;
        @apply mt-4;

        &:hover {
            @apply border-transparent bg-white text-teal-500;
        }
    }
}

/**
 * Construction d'un formulaire:
 * form
 *   section
 *     header
 *       h2
 *       p
 *     fieldset
 *       django_form.as_p (dans ul>li si formset)
 */
.form {
    @apply p-2;

    section {
        @apply flex flex-wrap;
        @apply py-2 mb-4;
        @apply border-gray-200 border-b-2;
    }

    header {
        @apply flex-initial;
        @apply w-1/5;

        p {
            @apply text-gray-600;
        }
    }

    fieldset {
        @apply flex-auto;
    }

    label {
        @apply block;
        @apply mb-1;
        @apply text-left text-sm font-medium text-gray-600;
    }

    span.helptext {
        @apply text-gray-500 text-sm font-medium;
    }

    p {
        @apply mb-4;
    }

    input,
    select,
    textarea {
        @apply flex-auto;
        @apply w-auto;
        @apply rounded-md;
        @apply p-2;
        @apply border border-gray-400;
        @apply bg-white;
        @apply max-w-3xl;
        @apply min-w-full;
        @apply block;
    }

    textarea {
        @apply h-20;
    }

    .actions {
        @apply flex justify-end;
        @apply my-4;
    }
}

.level {
    @apply flex justify-around;

    p {
        @apply text-center rounded-md bg-white shadow-sm px-12 py-6;

        span {
            @apply block text-5xl font-semibold;
        }
    }
}

@tailwind utilities;